extends layoutCustomised

block content  
  .card.o-hidden.border-0.shadow-lg.my-5
        .card-body.p-0
          // Nested Row within Card Body
          .row
            .col-lg-5.d-none.d-lg-block.bg-register-image
            .col-lg-7
              .p-5
                .text-center
                  h1.h4.text-gray-900.mb-4 Create an Account!
                form.user
                  .form-group.row
                    .col-sm-6.mb-3.mb-sm-0
                      input#exampleFirstName.form-control.form-control-user(type='text', placeholder='First Name')
                    .col-sm-6
                      input#exampleLastName.form-control.form-control-user(type='text', placeholder='Last Name')
                  .form-group
                    input#exampleInputEmail.form-control.form-control-user(type='email', placeholder='Email Address')
                  .form-group.row
                    .col-sm-6.mb-3.mb-sm-0
                      input#exampleInputPassword.form-control.form-control-user(type='password', placeholder='Password')
                    .col-sm-6
                      input#exampleRepeatPassword.form-control.form-control-user(type='password', placeholder='Repeat Password')
                  a.btn.btn-primary.btn-user.btn-block(href='login.html')
                    | Register Account              
                             
                  
                  
                hr
                .text-center
                  a.small(href='forgot-password.html') Forgot Password?
                .text-center
                  a.small(href='/login') Already have an account? Login!
